@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

* {
    filter: none;
}

/* http://meyerweb.com/eric/tools/css/neset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


html {
    height: 100%;
}

body {
    line-height: 1;
    color: #3B3E40;
    font-family: arial;
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    background-color: #727272;
}

ol, ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

blockquote, q {
    -webkit-quotes: none;
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


p {
    line-height: 15px;
    margin: 0 0 10px 0;
}

a:link, a:active, a:visited {
    color: #5daced;
    text-decoration: none;
}

*:focus {
    border: none;
    outline: none;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

#sitewrapper {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid #727272;
    background: #f7f7f7;
}

#content {
    float: left;
    width: 100%;
    min-height: 450px;
    position: relative;
}

#footer {
    clear: left;
    float: left;
    margin: 0 auto;
    width: 100%;
}

.sectionContainer {
    float: left;
    padding: 5px;
}

.imageContainer {
}

    .imageContainer img {
        width: 250px;
        height: 150px;
    }

.textContainer {
}
